body
{
	background-color: rgb(29, 29, 29);
}

.MainCrc
{
	fill:#001C4E;
}

#RedArcLine
{
	animation: 10s RedArc infinite;
	transform-origin: 50% 50%;
	fill:none;
	stroke:#FF5150;
	stroke-width:35;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-dasharray:899;
}

#YellowArcLine
{
	animation: 10s YellowArc infinite;
	transform-origin: 50% 50%;
	fill:none;
	stroke:#F79A36;
	stroke-width:24;
	stroke-linecap:round;
	stroke-dasharray: 626;
}

#CrossRed
{
	animation: 8s RedCross infinite;
	transform-origin: 50% 50%;
	fill:#EB5D5D;

}

#CrossBlue
{
	animation: 5s BlueCross infinite;
	transform-origin: 1138px 866px;
	fill:#98D8F1;
}

#EllipseWhiteContour
{
	animation: 30s WhiteCircle infinite;
	transform-origin: 642px 645px;
	fill:none;
	stroke:#FFFFFF;
	stroke-width:8;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	stroke-dasharray:20;
}

#RedCircleWithoutFill
{
	animation: 10s Color infinite;
	transform-origin: 642px 645px;
	fill:none;
	stroke:#F65847;
	stroke-width:13;
	stroke-miterlimit:10;
}

#Arrow_Line
{
	fill:#98D8F1;
	width: 12.95px;
	height: 60.68px;
}


#Arrow_0
{
	animation: 3s Arrows_Op infinite 20s;
}

#Arrow_1
{
	animation: 3s Arrows_Op infinite 18s;
}

#Arrow_2
{
	animation: 3s Arrows_Op infinite 16s;
}

#Arrow_3
{
	animation: 3s Arrows_Op infinite 14s;
}

#Arrow_4
{
	animation: 3s Arrows_Op infinite 12s;
}

#Arrow_5
{
	animation: 3s Arrows_Op infinite 10s;
}

#Arrow_6
{
	animation: 3s Arrows_Op infinite 8s;
}

#Arrow_7
{
	animation: 3s Arrows_Op infinite 6s;
}

#Arrow_8
{
	animation: 3s Arrows_Op infinite 4s;
}

#Arrow_9
{
	animation: 3s Arrows_Op infinite 2s;
}


@keyframes RedArc
{
	50%{
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0deg);
	}  
}


@keyframes YellowArc
{
	0%{
		transform: rotate(360deg);
	}

	50%{
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}  
}


@keyframes Arrows_Op
{
	100% {
		opacity: 0;
	}  
}


@keyframes Color
{
	25%{
		stroke:#F79A36;
	}

	50%{
		stroke:#98D8F1;
	}

	75% {
		stroke: #001C4E
	}

	100% {
		stroke: #F65847;
	}  
}


@keyframes RedCross
{
	50% {
		transform: translateY(-70px);
	}
	100% {
		transform: translateY(0);
	}  
}


@keyframes WhiteCircle
{
	100% {
		transform: rotate(360deg);
	}  
}


@keyframes BlueCross
{

	50% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0deg);
	}  
}