body {
    width:100%;
    background-color: #141414;
    display: grid;
    grid-template-columns: 500px 1fr;
}

h1 {
    color: #fbfdfc;
    margin-top: 50px;
}

.text {
    width: 30%;
    text-align: left;
    padding-left: 35px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rounds {
    position: relative;
}

.round1 {
    position: absolute;
    top: 25%;
    left: 2%;

    width: 150px;
    height: 150px;

    border: 2px solid #d1d1d1;
    border-radius: 50%;

    animation: 10s infinite anim1;
}

.round2 {
    position: absolute;
    top: 35%;
    left: 27%;

    width: 100px;
    height: 100px;

    background-color: #c2d7c6;
    border: 2px solid #c2d7c6;
    border-radius: 50%;

    animation: 10s infinite anim2;
}

.round3 {
    position: absolute;
    top: 15%;
    left: 33%;

    width: 200px;
    height: 200px;

    border: 2px solid #d1d1d1;
    border-radius: 50%;

    animation: 10s infinite anim3;
}

@keyframes anim1 {

    25%{
        width: 100px;
        height: 100px;

        top: 25%;
        left: 2%;
    }

    50%{
        width: 25px;
        height: 25px;

        top: 45%;
        left: 22%;
    }

    75%{
        width: 75px;
        height: 75px;
        
        top: 28%;
        left: 12%;
    }

    to{
        width: 150px;
        height: 150px;

        top: 25%;
        left: 2%;
    }
}

@keyframes anim2 {

    25%{
        width: 150px;
        height: 150px;

        top: 14%;
        left: 15%;
    }

    50%{
        width: 50px;
        height: 50px;

        top: 40%;
        left: 26%;
    }

    75%{
        width: 130px;
        height: 130px;

        top: 20%;
        left: 25%;
    }

    to{
        width: 100px;
        height: 100px;

        top: 35%;
        left: 27%;
    }
}

@keyframes anim3 {

    25%{
        width: 150px;
        height: 150px;

        top: 15%;
        left: 33%;
    }

    50%{
        width: 75px;
        height: 75px;

        top: 34%;
        left: 33%;
    }

    75%{
        width: 100px;
        height: 100px;

        top: 24%;
        left: 45%;
    }

    to{
        width: 200px;
        height: 200px;

        top: 15%;
        left: 33%;
    }
}